<div class="row">
  <div class="col-md-12 text-center">
    <h1>Crew Board</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><%= Race.find_by_id(@race_to_show).race_name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <p>These boats still need crew. Please select the boat you would like to crew on. If unsure or new, select all.</p>
    <table class="table">
        <tr>
          <td>Boat Name</td>
          <td>Crew Status</td>
          <td>Select</td>
        </tr>
        <% @crew_board.each do |trip| %>
            <tr>
              <td><%= trip.boat_name %></td>
              <td><%= trip.trip_attendees %></td>
              <td><%= hidden_field_tag :select_trip_"#{trip.id}", '' %> <%= check_box_tag :select_trip, checked = 'true' %></td>
            </tr>
        <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
     <%= submit_tag "Submit", class:"btn btn-large btn-success" %>
  </div>
</div>